<%- include('../partials/header') %>

<h1>Create Your Profile</h1>

<form id="new-customer" action="/nurses/<%=user._id%>?_method=PUT" method="POST">
<div>
    <label>houseNumber:</label>
    <input type="text" name="houseNumber" value="<% user.location.houseNumber %>">
</div>
    <label>Choose your role:</label>
    <select name="role">
        <option value="Customer">Customer</option>
        <option value="Nurse">Nurse</option>
    </select>
</div>

<input type="submit" value="Save">
<div><a href="/nurses/<%= user._id %>">Back to Profile</a></div>
</form>


<%- include('../partials/footer') %>
