<%- include('./partials/header') %>

<section id="about" class="about">
  <div class="container-fluid">

    <div class="row">


      <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-3 px-3">
        <h3>Welcome to EasyNurse!</h3>
        <p>At EasyNurse, our mission is to make healthcare accessible and convenient for everyone. We believe that finding the right nurse for your needs should be hassle-free and straightforward. Whether you need a skilled nurse for medical assistance or a caring companion to provide support, EasyNurse has got you covered.</p>
        <p> Our team of dedicated professionals is committed to delivering top-notch care with a personal touch. We understand that each individual's needs are unique, and we tailor our services to ensure the highest level of comfort and satisfaction.</p>
        <h4> Meet the Founding Team: </h4>
      <div class="row">
        <div class="col">
          <div class="icon-box">
            <div class="d-flex align-items-center">
              <img src="/img/AbbasImage.png" alt="Abbas Image" class="imgRounded">
              <h4 class="title">Abbas Naser</h4>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="icon-box">
            <div class="d-flex align-items-center">
              <img src="/img/HamzaImage.png" alt="Hamza Image" class="imgRounded">
              <h4 class="title">Hamza Shana</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="icon-box">
            <div class="d-flex align-items-center">
              <img src="/img/QasimImage.png" alt="Qasim Image" class="imgRounded">
              <h4 class="title">Qasim Alkuwaiti</h4>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="icon-box">
            <div class="d-flex align-items-center">
              <img src="/img/HawraImage.png" alt="Hawra Image" class="imgRounded">
              <h4 class="title">Hawra-Alhyaki</h4>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</section>
<%- include('./partials/footer') %>

