<%- include('../partials/header') %>

<form>
  <fieldset disabled>
    <div class="row">
      <div class="col">
        <label for="nurseName">Nurse Name</label>
        <input type="text" id="nurseName" class="form-control" placeholder="<%= nurse.name %>">
      </div>
      <div class="col">
        <label for="nursePrice">Price</label>
        <input type="text" id="nursePrice" class="form-control" placeholder="<%= nurse.price %>">
      </div>
    </div>
  </fieldset>
</form>



<%- include('../partials/footer') %>