body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 20px;
}

/* Star rating styles */
.rating-stars {
  font-size: 24px;
}

.star {
  cursor: pointer;
}

.star::before {
  content: '\f005';
  font-family: FontAwesome;
  color: #ccc; /* Default star color */
}

.star:hover::before,
.star.active::before {
  color: gold; /* Selected star color */
}